body {
  background-color: rgb(249 250 251);
  color: rgb(17 24 39);
}

.site-main {
  min-height: 60vh;
}

main a {
  text-decoration: none;
}

.prose p {
  margin-bottom: 1.25rem;
}

.prose p:last-child {
  margin-bottom: 0;
}

.source-meta p {
  margin: 0;
}
